<div class="ROCORootLink">

<%- include('../OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: 'https://rosano.ca',
	OLSKRootLinkImageURL: '/_shared/__external/ROCORootLink/identity.svg',
	OLSKRootLinkTextAlternate: OLSKLocalized('ROCORootLinkText'),
}) %>

</div>
