<a class="ROCORootLink OLSKCommonIdentity" href="<%= typeof ROCORootLinkAlternateURL !== 'undefined' ? ROCORootLinkAlternateURL : 'https://rosano.ca' %>" title="<%= typeof ROCORootLinkAlternateText !== 'undefined' ? ROCORootLinkAlternateText : OLSKLocalized('ROCORootLinkText') %>">
	<img class="ROCORootLinkImage" role="presentation" src="/_shared/__external/ROCORootLink/identity.svg">
</a>
